// Imports
@import "./Menu/menu";

header {
    width: 100%;
    height: 190px;
    .container-news {
        height: 20%;
        display: flex;
        justify-content: center;
        background-color: #23b2f8;
        .news {
            height: 100%;
            width: 80%;
            background-image: url(/src/assets/img/banner-1025px@330x-100.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-y: -3px;
        }
    }
    .container-principal {
        height: 54%;
        background-color: #f8f8ff;
        display: flex;
        justify-content: center;
        .principal {
            width: 66rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            .container-first {
                width: 100%;
                height: 1.6rem;
                display: flex;
                justify-content: right;
                .social {
                    height: 100%;
                    width: 12rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 8px;
                    padding-top: 4px;
                    .label {
                        height: 80%;
                        width: 40%;
                        border-right: 1px solid #3f3844;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include roboto;
                        color: #3f3844;
                    }
                    .icon {
                        height: 100%;
                        width: 1.6rem;
                        margin-left: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg {
                            height: auto;
                            width: 20px;
                            .st0 {
                                fill: #3f3844;
                            }
                        }
                    }
                }
            }
            .container-second {
                height: 3.1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 6px;
                .container-logo,
                .container-search,
                .container-tools {
                    height: 2rem;
                }
                .container-logo,
                .container-tools {
                    width: 20%;
                }
                a {
                    width: 21%;
                    .container-logo {
                        position: relative;
                        width: 21%;
                        height: 50px;
                        .logo {
                            width: 20.2rem;
                            height: 100%;
                            background-image: url(/src/assets/img/logo_corporativo.png);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 190px;
                            position: absolute;
                            cursor: pointer;
                        }
                    }
                }
                .container-search {
                    width: 52%;
                    height: 80%;
                    display: flex;
                    justify-content: center;
                    .search {
                        height: 100%;
                        width: 30rem;
                        display: flex;
                        input,
                        button {
                            border-top: 1px solid $color-principal;
                            border-bottom: 1px solid $color-principal;
                            background-color: $color-blanco;
                        }
                        input {
                            width: 89%;
                            outline: none;
                            padding-left: 10px;
                            border-left: 1px solid $color-principal;
                            border-right: none;
                            border-radius: 9px 0 0 9px;
                            font-size: 1.1rem;
                            @include roboto;
                            color: $color-texto-secundario;
                        }
                        button {
                            width: 11%;
                            cursor: pointer;
                            border-right: 1px solid $color-principal;
                            border-left: none;
                            border-radius: 0 9px 9px 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                width: 1.4rem;
                                height: auto;
                                .st0 {
                                    fill: $color-principal;
                                }
                            }
                        }
                    }
                }
                .container-tools {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 11px;
                    width: 19%;
                    height: 2.3rem;
                    .profile,
                    .track,
                    .container-cart {
                        height: 100%;
                    }
                    .profile,
                    .track {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 13%;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: auto;
                            width: 27px;
                            svg {
                                width: 100%;
                                height: 100%;
                                .st0 {
                                    fill: $color-principal;
                                }
                            }
                        }
                    }
                    .track {
                        a {
                            width: 20px;
                        }
                    }
                    .container-cart {
                        width: 66%;
                        display: flex;
                        justify-content: center;
                        .cart {
                            height: 100%;
                            width: 100%;
                            background-color: $color-principal;
                            border-radius: 4px;
                            display: flex;
                            cursor: pointer;
                            justify-content: space-between;
                            padding-right: 5px;
                            &:hover {
                                .icon-2 {
                                    svg {
                                        transform: rotate(0deg);
                                        transition: 0.3s;
                                    }
                                }
                            }
                            .icon,
                            h6,
                            .icon-2 {
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .icon,
                            h6 {
                                width: 40%;
                            }
                            .icon {
                                position: relative;
                                width: 27%;
                                padding-top: 3px;
                                svg {
                                    height: auto;
                                    width: 19px;
                                    .st0 {
                                        fill: $color-blanco;
                                    }
                                }
                                span {
                                    width: 14px;
                                    height: 14px;
                                    padding-right: 1px;
                                    padding-bottom: 1px;
                                    background-color: $color-secundario;
                                    position: absolute;
                                    top: 4px;
                                    right: 0px;
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    @include roboto;
                                    color: $color-blanco;
                                    font-size: 0.7rem;
                                }
                            }
                            h6 {
                                @include roboto;
                                color: $color-blanco;
                                font-size: 0.9rem;
                                margin-right: 3px;
                                width: 56%;
                            }
                            .icon-2 {
                                width: 12%;
                                svg {
                                    height: auto;
                                    width: 12px;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
