.cart {
    position: relative;
}

.cart-hide {
    display: none;
}
.cart-show {
    display: flex;
}
#cart-style {
    width: 320px;
    height: 13rem;
    background-color: #f2f3f4;
    position: absolute;
    transform: translate(-201px, 39px);
    z-index: 1000;
    border-radius: 7px 0 7px 7px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1173a3;
    cursor: default;
    .container-products {
        height: 75%;
        width: 96%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #f89922;
            border-radius: 2px;
        }
        .products {
            width: 97%;
            .item-cart {
                width: 100%;
                height: 98px;
                margin-top: 5px;
                display: flex;
                align-items: center;
                border: 1px solid#f89922;
                position: relative;
                .description,
                .close {
                    @include roboto;
                }
                .image {
                    width: 28%;
                    height: 100%;
                }
                .description {
                    height: 88%;
                    width: 72%;
                    color: #3f3844;
                    div {
                        height: 33%;
                        padding-left: 8px;
                    }
                    .name {
                        height: 41px;
                        font-weight: bold;
                    }
                    .descript {
                        height: 23px;
                    }
                }
                .close {
                    width: 17px;
                    height: 17px;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    border-radius: 50%;
                    background-color: #f89922;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
    .container-button {
        width: 100%;
        height: 3rem;
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 71%;
            height: 70%;
            border: none;
            border-radius: 7px;
            @include roboto;
            font-size: 1rem;
            background-color: #f89922;
            color: white;
            cursor: pointer;
        }
        .delete-all {
            width: 16%;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 17px;
                .st0 {
                    fill: white;
                }
            }
        }
    }
}
#container-cart {
    h6 {
        @include roboto;
        width: 100%;
        color: #1173a3;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        padding: 13px 0;
        span {
            margin-right: 11px;
            svg {
                .st0 {
                    fill: #1173a3;
                }
            }
        }
    }
    .cart {
        width: 94%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        .cart-list {
            width: 70%;
            height: 20rem;
            padding: 15px 0;
            display: flex;
            justify-content: center;
            .cart-item {
                width: 95%;
                height: 7rem;
                display: flex;
                align-items: center;
                border-radius: 7px;
                border: 1px solid #f89922;
                position: relative;
                background-color: white;
                .image,
                .container-descript {
                    height: 100%;
                }
                .image {
                    width: 18%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        height: 95%;
                    }
                }
                .container-descript {
                    width: 50%;
                    height: 80%;
                    .name,
                    .descript {
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        @include roboto;
                        color: #3f3844;
                    }
                    .name {
                        height: 25%;
                        font-weight: bold;
                    }
                    .descript {
                        height: 75%;
                    }
                }
                .price {
                    width: 32%;
                    display: flex;
                    .ItemCount {
                        width: 4.4rem;
                        display: flex;
                        margin-left: 13px;
                        background-color: #f89922;
                        border-radius: 7px;
                        border: 1px solid #f89922;
                        button,
                        h6 {
                            height: 100%;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        button {
                            width: 50%;
                            height: 100%;
                            border: none;
                            color: white;
                            background-color: transparent;
                            cursor: pointer;
                        }
                        h6 {
                            width: 80%;
                            background-color: white;
                        }
                    }
                    h6 {
                        width: 49%;
                        margin-left: 13px;
                    }
                    .add-cart {
                        display: none;
                    }
                }
                .close {
                    width: 17px;
                    height: 17px;
                    background-color: #f89922;
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    @include roboto;
                    border-radius: 50%;
                    cursor: pointer;
                    color: white;
                    font-size: 13px;
                    padding-left: 1px;
                }
            }
        }
        .cart-checkout {
            width: 30%;
            margin-left: 12px;
            h6 {
                height: 17%;
                font-size: 1.3rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #3f3844;
            }
            .options {
                width: 100%;
                height: 14rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                button {
                    height: 43px;
                    margin-top: 5px;
                    width: 95%;
                    border: none;
                    background-color: #f89922;
                    @include roboto;
                    font-size: 1.2rem;
                    border-radius: 4px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
#checkout {
    h6 {
        width: 100%;
        @include roboto;
        color: #1173a3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        padding: 13px 0;
    }
    .checkout {
        width: 90%;
        height: 23rem;
        margin: 0 auto;
        display: flex;
        position: relative;
        .form {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #f89922;
            margin-right: 32px;
            margin-top: 10px;
            height: 72%;
            form {
                width: 90%;
                margin: 25px auto 0 auto;
                @include roboto;
                color: #3f3844;
                input {
                    height: 66%;
                    outline: none;
                    padding-left: 4px;
                    border-radius: 4px;
                    border: solid 1px #f89922;
                }
                .row {
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .direccion {
                    input {
                        width: 82.6%;
                        justify-self: flex-end;
                    }
                }
            }
            button {
                width: 90%;
                height: 2rem;
                background-color: #f89922;
                border: none;
                @include roboto;
                color: white;
                margin: 32px auto 0 auto;
                font-size: 1.2rem;
                cursor: pointer;
                border-radius: 4px;
            }
        }
        .buttons {
            width: 11rem;
            height: 3rem;
            position: absolute;
            left: 24.3%;
            bottom: 6%;
            display: flex;
            justify-content: space-around;
            button {
                width: 51px;
                height: 100%;
                border: none;
                border-radius: 7px;
                background-color: #f89922;
                cursor: pointer;
            }
            .back {
                svg {
                    width: 63%;
                    .st0 {
                        fill: white;
                    }
                }
            }
            .home {
                svg {
                    .st0 {
                        fill: white;
                    }
                }
            }
        }
        .resumen {
            width: 30%;
            height: 17.8rem;
            border: 1px solid #f89922;
            h6 {
                width: 100%;
                height: 17px;
            }
            .resumen-content {
                width: 100%;
                height: 13rem;
                ul {
                    width: 93%;
                    height: 100%;
                    padding: 10px;
                    li {
                        list-style: none;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        @include roboto;
                        color: #3f3844;
                        span {
                            width: 65%;
                        }
                        .price {
                            width: 26%;
                        }
                    }
                }
            }
        }
        .total {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include roboto;
            color: #3f3844;
            font-size: 1.1rem;
            border-top: 1px solid #f89922;
        }
    }
}
